@import url('https://fonts.googleapis.com/css2?family=Jacquard+12+Charted&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #d9a88f;
}

nav > ul {
    margin: 0;
}

.nav li {
    display: inline;
}

.nav a {
    display: inline-block;
    padding: .5em;
    color: beige;
    text-decoration: none;
    &:hover
    {
        color: tomato;
        background-color: beige;
    }
}


.nav a:active {
    background-color: tomato;
}

.main-nav {
    text-align: center;
    font-size: 1.1em;
    font-weight: lighter;
    border-bottom: 2px solid rgba(255, 255, 255, 0.6);
    position: sticky;
    top: 1pc;

}

.main-nav li {
    padding: 0 5vw;
}


.title {
    color: color-mix(in srgb, red 50%, white 50%);
    margin: 0;
    text-decoration: underline; 
    text-align: center;  
}

.Big-title {
    font-family: "Jacquard 12 Charted", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 5rem;
}

.section {
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 1em;
    margin-bottom: 1em;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
    border-width: 2px ;
    border-style: solid;
    border-color: antiquewhite;
}

.details {
    max-width: 900px;
    min-width: 800px;
    margin: 0 auto;
    padding: 0 1.5em;
    text-align: left;

}

ul li {
    margin: 0 auto;
    padding: 0 1.5em;
    text-align: left;
}

.small-header {
    color: #C1D2D6;
    text-align: center;
    font-size: 1.5em;
}

.diagram-image {
    float: none;
    height: 4in;
    width: 6in;
    margin: 15px;
    border-radius: 10%;
    position: relative;
    top: 20px;
    left: 20px;
}

/*h3 {
    color: #d9a88f;
    color: rgb(217, 168, 143)

}*/

/* units of measurement for sizing and spacing your elements */
#Date {
    color: hsl(10, 50%, 80%);
    margin: 0px 10px 10px 0px;
    text-align: center;
}

:root {
    --primary-color: #d9a88f;;
}

/* Using the variable with a fallback */
main, header {
    background-color: #6a7d8e;
    color: var(--primary-color, black);} /* Fallback color is black */


div.media {
    display: grid;
    place-items: center;
    height: 50vh; /* Full height of the viewport */
    background: #6a7d8e; /* Light grey background */
    
}

footer {
    background-color: #6a7d8e;
    padding: 0.25em 0;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px; 
}


header, section {
    padding: 20px;
}

/* Media queries for responsive layout */
@media (min-width: 768px) {
    header, footer {
        padding: 30px 20px;
    }
    section {
        padding: 50px 20px;
    }
} 


input[list] {
    color: color(display-p3 0.5 0.2 0.1 / 0.8);;
}

h3 ~ ul {
    margin: 0;
    
}

h3 + ul {
    font-size: xx-large;
}


h1:has(+ h4) {
    border-bottom: 2px solid #d9a88f;
}

.small-image {
    height: 100px;
    width: 100px;
    margin: 10px;
    border-radius: 50%;
}

